$logo: url('../assets/images/logo.png');
$icons: url('../assets/images/social-media.png');
$header-bck: url('../assets/images/bg.gif');
$path--rel: ('../../assets/images/bg.gif');

$divs:(
    one: url('../assets/images/social-media.png'),
    two: url('../assets/images/social-media.png'),
    three:url('../assets/images/social-media.png'),
    four: url('../assets/images/social-media.png')
);