$white:         #FFF;
$orange:        #E65C43;
$medgry:        #666;
$lghtgry:       #F5F6F6;
$blgry:         #30353D;
$font:          'Roboto', Helvetica, Sans-serif;
$font-lig:       100;
$font-reg:       400;
$font-thck:      900;
$font-sm:        1em;
$font-md:        2.5em;
$font-bg:        4em;
$font-wght:     $font-lig, $font-reg, $font-thck;
$font-size:     $font-sm, $font-md, $font-bg;
$linehnormal:   0em;
$linehextra:    2em;
$line-height:   $linehnormal, $linehextra;      
$font-color:    $white, $orange, $medgry;




